
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    /* margin-top: 20vh; */
    max-width: 600px;
    margin: 20vh auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #555;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

img {
    max-width: 100%;
    margin-top: 20px;
}
